*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

header{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 7rem;
    padding-right: 7rem;
    background-color: #2c3e50;
    width: 100%;
    transition: all 0.3s ease;
    position: fixed;
    z-index: 100;
}

header.small{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header.small #logo a{
    transition: 0.3s all;
}

header.small #logo a{
    font-size: 1.25rem;
}
nav{
    display: flex;
    align-items: center;

}
nav #logo{
    width: 40%;
}

nav #logo a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.75rem;
    color: #fff;
    text-transform: uppercase;
}

nav ul{
    display: flex;
    justify-content: end;
    width: 60%;
    list-style-type: none;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

nav ul li a:hover{
    color: #1abc9c;
}

#masthead{
    background-color: #1abc9c;
    padding-top: 10rem;
    padding-bottom: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#masthead #center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#masthead img{
    width: 15rem;
    margin-bottom: 1rem;
}

#masthead h1{
text-align: center;
color: #fff;
font-size: 4rem;
text-transform: uppercase;
font-weight: 800;
margin-bottom: 1rem;
}

.divider{
    color: #fff;
    margin-bottom: 1rem;
    display: flex;
    align-items:center;
    font-size: 2.5rem;
    width: 100%;
    justify-content: center;
    height: 30px;

}

#line1{
    width: 100px;
    height: 4px;
    background-color: #fff;
    margin-right: 7px;
    border-radius: 1px;

}

#line2{
    width: 100px;
    height: 4px;
    background-color: #fff;
    margin-left: 7px;
    border-radius: 1px;
}

#masthead .divider #line{
    background-color: #000 !important;
}

#masthead p{
    font-size: 1.5rem;
    color: #fff;
}

.container{
    width: 80%;
}

#portfolio{
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
    background-color: #fff;
    display: flex;
    justify-content: center;

}

.heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #2c3e50;
    margin-bottom: 1rem;
}

.color-white{
    color: #fff !important;
}

#portfolio .divider{
    color: #000;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#portfolio .divider #line1,
#portfolio .divider #line2{
    background-color: #000;
}

.portfolio_content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.portfolio_content div{
    width: 30%;
    margin-bottom: 1rem;

}

.portfolio_content img{
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
}
.portfolio_item a{
    position: relative;
    display: block;
}

.portfolio_item:hover .zoom{
opacity: 1;
}


.portfolio_item a div{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color:rgba(26, 188, 156, 0.9);
transition: all 0.2s ease-in-out;
opacity: 0;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
font-size: 5rem;
}


#about{
    background-color: #1abc9c;
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
    display: flex;
    justify-content: center;
}

.about .divider{
    display: flex;
    justify-content: center !important;
    color: #fff!important;
}



.row{
    display: flex;
}

.row-part{
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.row-part p{
    color: #fff;
    font-size: 1.25rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

.text-center{
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.text-center a{
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 1.2rem 2.5rem;
    border-radius: 5px;
    color:0.15s ease-in-out, background-color 0.15s ease-in-out, 
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}

.text-center a i{
    margin-right: 7px;
}

.text-center a:hover{
    background-color: #fff;
    color: #222;
}

#contact{
    padding-top:5.5rem;
    padding-bottom:5.5rem;
    display: flex;
    justify-content: center;
}

#contact h2{
    text-align: center;
}

#contact .divider{
    color: #000 !important;
}

#contact .divider #line1,#contact .divider #line2{
    background-color: #222;
}


.contact-center{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#contact_form{
    width: 50%;
}


#contact_form div{
    width: 100%;
    margin-bottom: 2.5rem;
}

#contact_form div textarea,input:not([type="submit"]){
    width: 100%;
    border: none;
    border-bottom: 1px solid #d1d1dd;
    padding-bottom: 1.2rem;
    outline: none;
    font-size: 1.5rem;
}

#contact_form div input[type="submit"]{
    background-color: #1abc9c;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem 1.75rem;
    font-size: 1.25rem;
    color: #fff;
    border: none;
    font-size: 1.25rem;
    border-radius: 4px;
    cursor: pointer;

}

footer{
    background-color: #2c3e50;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-main{
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    display: flex;
    justify-content: center;
}

.footer-bottom{
    background-color: #1a252f;
}

.footer-content{
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.footer-content div{
    width: 30%;
}

.footer-content div ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;

}

.footer-content div ul li a{
    color: #fff;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.15s ease-in-out,
     background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
       box-shadow 0.15s ease-in-out;
}

.footer-content div ul li a:hover{
    border-color: #fff;
    color: #000;
    background-color: #fff;
}

.footer-content h4{
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.footer-content p{
    line-height: 1.5;
}

.txt-cen{
    text-align: center;
}

.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom:1.5rem;
    color: #fff;
}